@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.builder-container {
    padding-top: 100px;
    min-height: calc(100% - 100px);
    width: 100%;
    background-color: #CCD0D8;
}

.builder-items {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    gap: 80px;
}

.builder-items-left {
    display:flex;
    flex-direction: column;
    height: 1000px;
    width: 1000px;
    gap: 40px;
}

.builder-filter {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    width: 1000px;
    height: 100px;
    gap: 50px
}

.builder-filter h2 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.filter-card-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.filter-card-buttons button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.filter-card-buttons button.active {
    background-color: #007bff;
    color: #fff;
}

.builder-cards {
    background-color: purple;
    flex-grow: 1; /* This will make the builder-cards section take up all available space in the left container */
    max-height: 80%; /* Adjust this value as per your requirement to limit the maximum height of the builder-cards section */
    overflow-y: auto;
}

.builder-cards img {
    height: 300px;
}

.builder-items-right {
    display:flex;
    flex-direction: column;
    height: 840px;
    width: 400px;
    gap: 40px;
}

.builder-items-right-buttons {
    display: flex;
    height:100px;
    width: 400px;
    background-color: red;
    justify-content: center;
    align-items: center;
    gap: 100px
}

.builder-items-personal-deck {
    background-color: yellow;
    height:640px;
    width: 400px;
}

